In [58]:
import pandas as pd
df = pd.read_csv('aspect_AAjN.csv',sep=',')
df = df.drop(['Unnamed: 0'],axis=1)

In [2]:
data = df['aspects_AAjN'].str.get_dummies(sep=',')

In [3]:
label = pd.get_dummies(df['emotions'])

In [4]:
label

      Angry  Fear  Happy  Sad  Surprise
0         0     0      1    0         0
1         0     0      1    0         0
2         0     0      0    0         0
3         0     1      0    0         0
4         0     0      0    0         0
...     ...   ...    ...  ...       ...
9995      0     0      0    0         0
9996      0     0      0    0         0
9997      0     1      0    0         0
9998      0     1      0    0         0
9999      0     0      0    0         0

[10000 rows x 5 columns]

In [15]:
df[pd.isnull(df['aspects_AAjN'])]

     aspects_AAjN emotions
17            NaN      NaN
19            NaN      NaN
23            NaN      NaN
25            NaN      NaN
29            NaN      NaN
...           ...      ...
9991          NaN      NaN
9992          NaN      NaN
9993          NaN      NaN
9995          NaN      NaN
9996          NaN      NaN

[2192 rows x 2 columns]

In [31]:
df[pd.isnull(df['emotions'])]

      Unnamed: 0                                       aspects_AAjN emotions
2              2             usually combo stiller, god much sequel      NaN
4              4                           definitely potential lew      NaN
5              5                                   simply know deal      NaN
16            16                                  also modern story      NaN
17            17                                                NaN      NaN
...          ...                                                ...      ...
9993        9993                                                NaN      NaN
9994        9994  definitely previous summary, stanly kubrick ho...      NaN
9995        9995                                                NaN      NaN
9996        9996                                                NaN      NaN
9999        9999   wherewithal watchable length, billy bob thornton      NaN

[4256 rows x 3 columns]

In [59]:
from sklearn.impute import KNNImputer
# define imputer
imputer = KNNImputer(n_neighbors = 2)
# fit on the dataset
imp_df = np.round(imputer.fit_transform(data))

In [60]:
imp_df = pd.DataFrame(imp_df)

In [61]:
df = pd.concat([df,imp_df],axis=1)

In [62]:
df = df.drop(['aspects_AAjN','emotions'],axis=1)

In [63]:
df

,0,1,2,3,4,5,6,7,8,9,...,19544,19545,19546,19547,19548,19549,19550,19551,19552,19553
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
df.to_csv('dataframe.csv')

In [45]:
#to find the length of null values in a dataframe
df.isnull().sum().sum()

0

In [64]:
from sklearn.impute import KNNImputer
# define imputer
imputer = KNNImputer(n_neighbors = 2)
# fit on the dataset
imp_label = np.round(imputer.fit_transform(label))

In [65]:
imp_label = pd.DataFrame(imp_label)

In [66]:
df = pd.concat([df,imp_label],axis=1)

In [67]:
df

,0,1,2,3,4,5,6,7,8,9,...,19549,19550,19551,19552,19553,0,1,2,3,4
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0